#mainNav .navbar-brand img {
    height: 14rem;
    transition: height 0.3s ease-in-out;
}

#mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 7.5rem;
    background-color: #212529;
}

.text-primary {
    color: #D3982B !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #D3982B !important;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background-color: #D3982B !important;
}

h2 {
    color: #149FC6;
}

.gold {
    color: #D3982B;
    padding-top: 1.5em;
}

.blue {
    color: #149FC6;
    padding-top: 1.5em;
}

h6 {
    text-align: center;
}


/*-------------About Page--------------*/

.video-container {
    position: relative;
    text-align: center;
}

.video-container iframe,
.video-container object,
.video-container embed {
    margin: auto;
}


/*-------------Floating Avatar--------------*/

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.container1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.content1 {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
}

.support-me {
    display: inline-block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 20vw;
    max-width: 250px;
    min-width: 200px;
    z-index: 9;
}

footer {
    background-color: #212529 !important;
    height: 25em;
    padding: 5%;
}

.space {
    padding-top: 10%;
}

.footer-text {
    color: #e6b301;
}

.level-img {
    padding-left: 14%;
}


/* -----------------------Services  ----------------------------------*/

.pad {
    margin-left: 10%;
    margin-right: 10%;
}

.pad img {
    width: 50%;
}


/* ---------------scroll animation---------------

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
} */

.graph {
    padding: 2%;
}

.bg-img {
    background-image: url("assets/img/services/insurance.png");
}


/* ---------------Reviews on Services/Client page -----*/

.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBC02D;
    color: #fff
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px
}

.bar-5 {
    width: 70%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-4 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-3 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-2 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-1 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

td {
    padding-bottom: 10px
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.blue-text {
    color: #0091EA
}

p.content {
    font-size: 18px;
    padding: 5%;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px
}

.pic {
    width: 80px;
    height: 80px;
    margin-right: 10px
}

.vote {
    cursor: pointer
}


/*--------general media queries----------*/

@media only screen and (max-width: 768px) {
    .imgCarousel {
        margin-left: 10%;
    }
    /* about page----------*/
    article.matts-video {
        max-width: max-content;
    }
    header.masthead .masthead-heading {
        font-size: 2rem;
    }
    #mainNav .navbar-brand img {
        height: 7rem;
    }
    .page-section {
        padding: 1em;
    }
    h6 {
        font-size: 90%;
    }
    .logo-sm {
        width: 40%;
    }
    .resp-img {
        width: 60%;
    }
    .pad {
        margin: auto;
    }
}

@media only screen and (max-width: 320px) {
    h6 {
        font-size: 75%;
    }
}